<section class="careers faq-sec">
  <span class="line-span"><div class="container"><h2>Current Openings</h2></div></span>
 <div class="textimonials-result1">
     <div class="container">
         <div class="main-tnc"> 
           <div class="row">
            <div class="col-md-12">
              <ngb-accordion  activeIds="ngb-panel-0">
                <ngb-panel id="ngb-panel-0" title="Sr. Business Development Executive - Aggregation / Distribution">
                  <ng-template ngbPanelContent>
                    <div class="ml25">
                   <h3 class="faq-header">Sr. Business Development Executive - Aggregation / Distribution</h3>
                      <p class="faq-para"><strong>Job code:</strong> ODBUS-SALES<br/>
                      <strong>Location:</strong> All over Odisha<br/>
                      <strong>Experience:</strong> 2-4 Years<br/>
                      <strong>Qualification:</strong> Any Graduate<br/>
                      <strong>Languages Proficiency:</strong> English, Hindi & Odia (Hindi, Odia Mandatory)<br/>
                      <strong>Salary:</strong> Best in the industry<br/>
                      </p>
                     <h3 class="faq-header">Job Description</h3>
                     <ul class="main-tnc-ul-cr">
                        <li>Experience in Business Development, market mapping and direct customer engagements to reach established targets.</li>
                        <li>Able to handle the bus partner aggregation and distribution.</li>
                        <li>Responsible for Account Management.</li>
                        <li>Candidates must be from the bus industry.</li>
                        <li>Candidates should be passionate about Sales/BD and have Go-Getter Attitude.</li>
                      </ul>
                      <p class="faq-para">Email us your resume to <a href="mailto:coo@odgroup.in?subject=Sr. Business Development Executive - Aggregation / Distribution">coo@odgroup.in.</a> Please include the job designation in the subject line of the email, and we will revert back to you about the same.
                      </p>
                    </div>
                  </ng-template>
                </ngb-panel>

                <ngb-panel id="ngb-panel-1" title="Customer Support Executive">
                  <ng-template ngbPanelContent>
                    <div class="ml25">
                   <h3 class="faq-header">Customer Support Executive</h3>
                      <p class="faq-para"><strong>Job code:</strong> ODBUS-SUPPORT<br/>
                      <strong>Experience:</strong> 0 Year - Max 3 Years<br/>
                      <strong>Qualification:</strong> Any Graduate<br/>
                      <strong>Languages Proficiency:</strong> English, Hindi & Odia (Hindi, Odia Mandatory)<br/>
                      <strong>Salary:</strong> Best in the industry<br/></p>

                     <h3 class="faq-header">Job Description</h3>
                     <ul class="main-tnc-ul-cr">
                        <li>Inbound & Outbound Voice Process, Non- Technical, Pure Customer Service.</li>
                        <li>No Sale, No Upselling, No targets.</li>
                        <li>Comfortable Shift Timings.</li>
                        <li>Have to solve customer queries.</li>
                        <li>Provide customer satisfaction over customer queries.</li>
                        <li>Update the team leader with proper reports.</li>
                      </ul>
                      <p class="faq-para">Email us your resume to <a href="mailto:coo@odgroup.in?subject=Customer Support Executive">coo@odgroup.in.</a> Please include the job designation in the subject line of the email, and we will revert back to you about the same.
                      </p>
                    </div>
                  </ng-template>
                </ngb-panel>

                <ngb-panel id="ngb-panel-2" title="Graphic/UI Designer">
                  <ng-template ngbPanelContent>
                    <div class="ml25">
                   <h3 class="faq-header">Graphic/UI Designer</h3>
                      <p class="faq-para"><strong>Job code:</strong> ODBUS-DEV<br/>
                      <strong>Experience:</strong> 2-4 Years<br/>
                      <strong>Qualification:</strong> Diploma in Graphic / Web Designing / Any Graduate<br/>
                      <strong>Salary:</strong> Best in the industry<br/>
                    </p>
                     <h3 class="faq-header">Job Description</h3>
                     <ul class="main-tnc-ul-cr">
                        <li>Experience in User Experience (UX) and User Interface (UI).</li>
                        <li>Proficiency in graphic design software including Adobe Photoshop, Adobe Illustrator, InDesign and other visual design tools.</li>
                        <li>Knowledge of typography, handling and manipulation of images, freehand graphics and basic design elements.</li>
                        <li>Proficiency in front-end development web programming languages such as HTML5, CSS3, Bootstrap, JQuery, Javascript.</li>
                        <li>You will be responsible of handling major design projects from concept design, collaborating with marketing, delivering world class and cutting edge designs for online and print advertising. </li>
                        <li>Work with WordPress or other content management systems as an advantage.</li>
                      </ul>
                      <p class="faq-para">Email us your resume to <a href="mailto:coo@odgroup.in?subject=Graphic/UI Designer">coo@odgroup.in.</a> Please include the job designation in the subject line of the email, and we will revert back to you about the same.
                      </p>
                    </div>
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
            </div>
              
             </div>
         </div>
     </div>
  </div>
 </section>



  