 <section class="header-main fixed-top">  <!--sticky-top -->
    <div class="container-xl">
        <div class="row align-items-center">
            <div class="col-md-2">
                <div class="logo" *ngIf="logo!=''">
                    <a routerLink="/">
                        <img src="{{ logo }}" alt="logo-ODBUS" title="" />
                      
                    </a>
                </div>
            </div>
            <div class="col-md-10 d-flex align-items-center">
                <div class="main-navigation">
                    <nav class="navbar navbar-expand-lg navbar-light">            
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse menu-cnt" id="navbarSupportedContent">
                            <ul class="">
                                <li class="nav-item home"><a class="nav-link" routerLink="/">Home</a></li>
                                <li class="nav-item about"><a class="nav-link" routerLink="about-us">About</a></li>
                                <li class="nav-item"><a class="nav-link" routerLink="manage-booking">Manage Booking</a></li>
                                <!-- <li class="nav-item"><a class="nav-link" routerLink="support">Support</a></li> -->
                                <li class="nav-item"><a class="nav-link" target="_blank" href="https://www.odcar.in">Car Hire</a></li>
                                <li class="nav-item"><a class="nav-link" target="_blank" href="https://www.odtravels.in/">Tour Package</a></li>
                                
                            </ul>            
                        </div>
                    </nav>
                </div>
                <!--  </div>
                <div class="col-md-4"> -->
                <div class="login-app mt-0">
                    <ul *ngIf="! session.isLoggedIn()" >
                        <li><a routerLink="login" class="black-btn bh">Login/Signup</a></li>  
                   <!--  </ul>       

                    <ul> -->
                        <li><a target="_blank" href="https://play.google.com/store/apps/details?id=com.seofied.odbus" class="download black-btn yellow-btn bh">Download App</a></li>
                    </ul>
                    <nav class="navbar navbar-expand-md" *ngIf="session.isLoggedIn()">                       
                        <button class="navbar-toggler" type="button" aria-controls="navbarContent" 
                        [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" 
                        (click)="collapsed = !collapsed">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                      
                        <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
                          <ul class="navbar-nav ml-auto">                           
                      
                            <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
                              <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" 
                              role="button">My Account</a>

                              
                              <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
                               
                                <a ngbDropdownItem class="cursor" routerLink="myaccount">Profile Setting</a>
                                <a ngbDropdownItem class="cursor" routerLink="dashboard">Dashboard</a>

                                <a ngbDropdownItem class="cursor" (click)="signOut()" 
                                >Log out</a>
                                   
                              </div>
                            </li>
                          </ul>
                        </div>
                      </nav>


                </div>
            </div>
        </div>
    </div>
</section>
<div class="fix-top"></div>