<!-- 404 Error -->
<div class="ptb50 container-xl">
    <div class="row od450">
        
       <div class="col-md-7 text-left pt180">
            <h2 class="mb-4 font-weight-bold text-danger"><b>So Sorry!!</b> Cant believe you landed here!</h2>
            <p class="lead ft24 mb-2">Oops! Looks like you followed a bad link.</p>
            <p class="mb-2 ft18">If you think this is a problem with us, please <a class="text-danger" href="#">tell us</a>.</p>
            <a href="#" class="btn btn-danger px-5 odbus-btn rounded-1 mt-4">Go Back</a>
        </div>
        <div class="col-md-5 text-center">
            <div class="osahan-img px-3 pb-1">
                <img src="../../assets/img/not-found.svg" class="img-fluid mb-1">
            </div>
        </div>
    </div>
 </div>

 
