<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" 
type = "ball-clip-rotate" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

 <div class="aboutbg">
 <span class="line-span">
    <div class="container">
       <h2>{{pageTitle}}</h2>
    </div>
    </span>
<section class="textimonials-result1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            	<div class="main-tnc" [innerHTML]="pageContent">
            	</div>
            </div>
        </div>
    </div>
</section>
</div>


