
<div class="main min-500">
  
    <app-usernavbar></app-usernavbar>
  
    <div class="card card-ta mb-2 mt-2 night-fade-gradient">
      <div class="container">
        <div class="row banner-faq pt-1 pb-1">
          <div class="col-md-6 pl-1 pr-1">
            <div class="faq-heading">
              <h1>HELP & SUPPORT</h1>
              <p>24x7 Help and Support</p>
            </div>
          </div>
          <div class="col-md-6 pl-1 pr-1"><img src="assets/img/help-and-support.svg"></div>
        </div>
      </div>
    </div>
  
    <div class="card card-faq">
        <div class="card-body card-faq-main">
          <div class="row faq-main mb-4">
            <div class="col-md-12">
              <h1 class="text-center">FAQ</h1>
              <p class="text-center">Frequently Asked Questions</p>
            </div>
          </div>
            <div class="row">
              <div class="col-md-6 pr-2">
                <div class="faq">
                   <a href="#" class="faq-link d-flex justify-content-between">
                     <h2>Lorem ipsum dolor sit amet ?</h2>
                     <img class="faq-img" src="assets/img/Icon feather-arrow-right-circle.svg">
                   </a>
                   <div class="faq-content">
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at tortor a justo vulputate convallis. Sed at elit malesuada purus tempus vehicula. Suspendisse eu augue efficitur, porttitor sem vitae, ultricies felis. Donec consectetur ipsum eu tortor pharetra efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                   </div>
                </div>
                <div class="faq">
                   <a href="#" class="faq-link d-flex justify-content-between">
                     <h2>Lorem ipsum dolor sit amet ?</h2>
                     <img class="faq-img" src="assets/img/Icon feather-arrow-right-circle.svg">
                   </a>
                </div>
                <div class="faq">
                   <a href="#" class="faq-link d-flex justify-content-between">
                     <h2>Lorem ipsum dolor sit amet ?</h2>
                     <img class="faq-img" src="assets/img/Icon feather-arrow-right-circle.svg">
                   </a>
                </div>
              </div>
  
              <div class="col-md-6 pl-2">
                <div class="faq">
                   <a href="#" class="faq-link d-flex justify-content-between">
                     <h2>Lorem ipsum dolor sit amet ?</h2>
                     <img class="faq-img" src="assets/img/Icon feather-arrow-right-circle.svg">
                   </a>
                </div>
                <div class="faq">
                   <a href="#" class="faq-link d-flex justify-content-between">
                     <h2>Lorem ipsum dolor sit amet ?</h2>
                     <img class="faq-img" src="assets/img/Icon feather-arrow-right-circle.svg">
                   </a>
                </div>
                <div class="faq">
                   <a href="#" class="faq-link d-flex justify-content-between">
                     <h2>Lorem ipsum dolor sit amet ?</h2>
                     <img class="faq-img" src="assets/img/Icon feather-arrow-right-circle.svg">
                   </a>  
                </div>
              </div>
            </div>
        </div>
    </div>
  
    
  </div>
   