
<div class="main min-500">
  
    <app-usernavbar></app-usernavbar>
  
  
    <div class="card card-ta mt-2">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="wallet d-flex justify-content-lg-start">
              <img src="assets/img/yellow-wallet.svg">
              <h5 class="mr-auto">₹ 200.00 <br> <small>Wallet Ballance</small></h5>
            </div>
          </div>
          <div class="col-md-6">
            <a class="wallet-btn" href="#">Add Wallet Balance</a>
          </div>
        </div>
      </div>
    </div>
  
  
    <div class="card card-ta mt-3 mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="py-3 wallet-hi"><img src="assets/img/sidebar-icon/wallet.svg">Wallet</h2>
                </div>
            </div>
  
            <div class="notification">
              <a href="#" class="noti-link d-flex justify-content-lg-start mb-3 color-bell">
              <img src="assets/img/bell.svg">
              <h5 class="mr-auto">400 added to your account From  (HDFC Bank)</h5>
              <small>30 June 2021 / 03:50 pm</small>
              </a>
              <a href="#" class="noti-link d-flex justify-content-lg-start mb-3 color-bell">
              <img src="assets/img/bell.svg">
              <h5 class="mr-auto">400 added to your account From  (HDFC Bank)</h5>
              <small>30 June 2021 / 03:50 pm</small>
              </a>
              <a href="#" class="noti-link d-flex justify-content-lg-start mb-3 color-bell">
              <img src="assets/img/bell.svg">
              <h5 class="mr-auto">400 added to your account From  (HDFC Bank)</h5>
              <small>30 June 2021 / 03:50 pm</small>
              </a>
              <a href="#" class="noti-link d-flex justify-content-lg-start mb-3 color-bell">
              <img src="assets/img/bell.svg">
              <h5 class="mr-auto">400 added to your account From  (HDFC Bank)</h5>
              <small>30 June 2021 / 03:50 pm</small>
              </a>
            </div>
        </div>
    </div>
  
    
  </div>
   