
<div class="main min-500">
  
    <app-usernavbar></app-usernavbar>
  
  
    <div class="card card-ta">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="py-3 notification-hi"><img src="assets/img/notification.svg">Notification</h2>
                </div>
            </div>
  
            <div class="notification">
              <a href="#" class="noti-link d-flex justify-content-lg-start mb-3 color-gift">
              <img src="assets/img/gift.svg">
              <h5 class="mr-auto">10% off your next order | Daily login bonus ₹50 max discount</h5>
              <small>03:50 pm</small>
              </a>
  
              <a href="#" class="noti-link d-flex justify-content-lg-start mb-3 color-star">
              <img src="assets/img/star.svg">
              <h5 class="mr-auto">20% off your next order | Daily login bonus ₹50 max discount</h5>
              <small>03:50 pm</small>
              </a>
  
              <a href="#" class="noti-link d-flex justify-content-lg-start mb-3 color-bell">
              <img src="assets/img/bell.svg">
              <h5 class="mr-auto">34% off your next order | Daily login bonus ₹50 max discount</h5>
              <small>03:50 pm</small>
              </a>
  
              <a href="#" class="noti-link d-flex justify-content-lg-start mb-3 color-offer">
              <img src="assets/img/offer.svg">
              <h5 class="mr-auto">5% off your next order | Daily login bonus ₹50 max discount</h5>
              <small>03:50 pm</small>
              </a>
            </div>
        </div>
    </div>
  
    
  </div>
   