<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" 
type = "ball-clip-rotate" [fullScreen] = "true"><p style="color: white" > Loading...  </p></ngx-spinner>

<div class="col-md-12">
    <div class="row passenger box-padding">
    <div class="head-section"><h2>Cancellation Details</h2></div>
    <div class="col-md-12 passenger-detail">
        <div class="row">
            <div class="col-md-6" style="margin: 0 auto;">
            <table class="tableclass2" cellpadding="10">
            <tbody>
                <tr>
                    <td class="st-ri">Amount Paid:</td>
                    <td class="st-le">₹{{ cancelDetails.totalfare }}</td>
                </tr>

                <tr>
                    <td class="st-ri">Cancellation Fees:</td>
                    <td class="st-le" style="color: red;">- ₹{{ cancelDetails.deductAmount }} ( {{ cancelDetails.deductionPercentage }})</td>
                </tr>

                <tr>
                    <td class="st-ri">Gst On Cancel Charge:</td>
                    <td class="st-le" style="color: red;">- ₹{{ cancelDetails.GstOnCancelCharge }}</td>
                </tr>

                <tr>
                    <td class="st-ri">Cancel Commission:</td>
                    <td class="st-le" style="color: green;">+ ₹{{ cancelDetails.OdbusCancelCommission }}</td>
                </tr>

                <tr>
                    <td class="st-ri">Refund Amount:</td>
                    <td class="st-le" style="color: green;"> + ₹{{ cancelDetails.refundAmount}}</td>
                </tr>
            </tbody>
        </table>
        <div align="center">
        <button (click)="cancel_ticket();" class="btn btn-danger proceed btn-de" 
        *ngIf="cancelDetails.cancel_status">Cancel Ticket</button>

        <d (click)="cancel_ticket();"  
        *ngIf="cancelDetails.cancel_status==false">Ticket has been cancelled</d>

        </div>
    </div>
        </div>

    </div>

</div>
</div>

