.line-span{
    background-color: #EFC003;
    height: 2px;
    display: block;
    position: relative;
    margin-top: 63px;
}
.line-span .linkbo {
    text-align: center;
    display: inline-block;
    position: absolute;
    background: transparent;
    /* left: 5%; */
    top: -30px;
    color: #072C6B;
    padding: 10px 0px;
    font-size: 24px;
}
.btn-anup{    padding: 9px 20px;
    border-radius: 0;
    background-color: #f8f8f8;}
.active {
  background: #EFC003;
}
.passenger{
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
    opacity: 1;   
    margin-top: 20px; 
}

.passenger-detail{
    font-size: 16px;
    font-weight: bold;
    background: #f8f8f8 0% 0% no-repeat padding-box;
    border: 1px solid #00000026;
    border-radius: 3px;
    opacity: 1; 
    padding:15px 30px 30px 30px;
}

.padding{
    padding-top: 10px;
    padding-bottom: 10px;

}

.box-padding{
    margin-top: 30px;

}

.tableclass th h5 img{
    margin-right:5px;
}

.tableclass .od22{
    margin-left:20px; 
}

.tableclass .od20{
    margin-left:24px; 
}
.tableclass .od21{
    margin-left:24px;
    font-size: 15px;
}


 label ,p{
    padding-top: 10px;
    color: #072C6B;
    font-size: 14px;
}

h5{
    /* padding-top: 10px; */
    color: #072C6B;
    font-weight: bold;
    font-size: 15px;
}

.grey{
    color:#B2ADAD;
    font-size: 14px;
}
.terms{
    color:#B2ADAD;
    font-size: 12px;
}

h6{
    color: #072C6B;
    font-size: 13px;
    line-height: 25px;
}

label{
    text-transform: capitalize;
}

hr{
    border: 1px solid #efc003;
}

span{
    color:#efc003;
}

.font{
    color:#efc003;
    font-size: 15px;
}
.padding-left{
    left: 15px;
    padding-left: 15px;
}



.fare-detail{
    color: #072C6B;
    font-size: 13px;
}
.proceed{
    width:200px;
}
.img1{
    margin-top: 226px;
    margin-left: 9px;
}

.img2{
    margin-top: 4px;
    margin-left: 13px;
    height: 114px;
}

.img3{
    margin-left: 9px;
}

.bus{
    height: 38px;
    background: transparent url('../../assets/img/bus.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 35px;
}
.tableclass{
    width:100%;
}


.tableclass2{
    width:100%;
}



thead{
    color: #B2ADAD;
}

tbody{
    color: #072C6B;
    font-size: 15px;
}
.roboto{
    font-size: 14px;
    font-weight: 400;
}

.make-payment{
    
    width: 300px;
    height: 75px;
    background: var(--unnamed-color-efc003) 0% 0% no-repeat padding-box;
    background: #EFC003 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    padding-top: 20px;
    margin-bottom: 27px;
    margin-bottom: 15px;
    
}

.payment_box{
    top: 15px;
}

h4{
    font-size: 20px;
    font-weight: bold;
    color: #072C6B;
    text-align: left;
   
}

.payment-btn{
    padding-left:45px;
}
.small_tag {
    font-size: 11px;
    margin-left: 6px;
    font-weight: 600;
    line-height: 0;
}

.option > img{

    width: 24px;
    margin: 1px 10px 5px 10px;

}

.option > span{

   color: #072C6B;
   font-size: 12px;

}

input[type="radio"]:checked {

    background: transparent url('../../assets/img/Group631.svg') 0% 0% no-repeat padding-box;

    
  }

  .option > label{
      margin: 0px 34px;
  }

  .input-group-append {
    margin-left: -20px !important;
  }
  .continue{
    margin: 0px 12px;
    font-size: 10px;
    padding: 0px 28px;
    border-radius: 0px;
    color: #072c6b;
  }

  .text-field{
    width: 85px;
    padding: 3px 14px;
    color: #072c6b;
}

::placeholder{
    font-size: 12px;
    color:#072C6B
  }

  .grey_tag{

    margin: 0px 20px;
    font-size: 11px;
    line-height: 0px;

  }

  .print-ticket{
    margin: 10px 40px;
  }

  .smile{
      width: 25px;
      margin: 4px 7px 8px;
  }

  .print{
      font-weight: bold;
  }

  .paragraph{
      color:#B2ADAD;
      font-size: 13px;
  }

.st-ri{text-align: right; color: #9A9595;}
.st-le{text-align: left;}
.head-section{background-color: #072C6B; width: 100%; padding: 10px 10px 1px; border-top-left-radius: 16px; border-top-right-radius: 16px;}
.head-section h2{text-align: left; color: #fff; font-size: 16px;}
.btn-de{    margin-top: 17px;
    margin-bottom: 22px;}

.search-result2{
    margin-top:30px;
    margin-bottom: 60px;
   
}
.man-print{
    float: right;
}

.btn-warning:not(:disabled):not(.disabled).active{
    color: #000000;
    background-color: #efc003;
    border-color: #efc003;
}

.mb-center{
    text-align: center !important;
}

.mb25{
    margin-bottom: 25px;
}
.red{
    color: #ff0000;
}

.mt60{
    margin-top: 60px;
}

.st-ri{
    width:50%;
}

.tableclass tbody{
    text-transform: uppercase;
}

.tableclass2 tbody{
    text-transform: uppercase;
}
