
<div class="main min-500">
  
    <app-usernavbar></app-usernavbar>
  
    <div class="card card-ta mb-0 mt-2 night-fade-gradient">
      <div class="container">
        <div class="row banner-invite-friend pt-1 pb-1">
          <div class="col-md-12 pl-1 pr-1">
            <div class="invite-friend-heading">
              <h1>YOU HAVE EARNED 200 POINTS Points</h1>
              <p>Invite a friend to sign up, & earn Royalty Points</p>
              <img src="assets/img/earned.svg">
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
      <div class="card card-rewads">
        <div class="card-body card-rewads-main">
          <div class="invite-search">
            <form class="form-subscribe" action="#">
              <div class="input-group">
                <input type="text" class="form-control input-lg" placeholder="https:www.xyz.com/909jhuihd88008djhfkjhnkjuujugdklldhjoifjlkdjfldk/">
                <span class="input-group-btn">
                  <button class="btn btn-success btn-lg" type="submit" >COPY URL</button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
  
  
    <div class="card card-rewads">
        <div class="card-body card-rewads-main">
          <div class="row">
            <div class="col-md-4">
              <div class="or">OR</div>
              <div class="invite-friend-form">
                <h3>Send Email</h3>
                <div class="form-group">
                  <label for="inputName">Invite Friend</label>
                  <input class="form-control invite-friend-input" type="text" id="inputName" placeholder="xyz@gmail.com">
                </div>
                <button class="btn-invite">Invite</button>
              </div>
            </div>
            <div class="col-md-4">
              <div class="or">OR</div>
              <div class="invite-friend-form">
                <h3>Send SMS</h3>
                <div class="form-group">
                  <label for="inputName">Invite Friend</label>
                  <input class="form-control invite-friend-input" type="text" id="inputName" placeholder="+91 9090909090">
                </div>
                <button class="btn-invite">Invite</button>
              </div>
            </div>
            <div class="col-md-4">
              <div class="invite-friend-form">
                <h3>Social Media</h3>
                  <label for="inputName">Share on Facebook and Whatsapp</label>
                  <div class="social">
                    <a class="fb mb-2" href="#"><span><img class="mr-1" src="assets/img/fb.svg"> Share on Facebook</span></a>
                    <a class="wp" href="#"><span><img class="mr-1" src="assets/img/wp.svg"> Share on Whatsapp</span></a>
                  </div>
              </div>
            </div>
        </div>
    </div>
  
    
  </div>
   