<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" 
type = "ball-clip-rotate" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<section class="textimonials-result">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="textimoni-h2">What Our Customers</h2>
                <h1 class="textimoni-h1">Are Saying</h1>
            </div>
        </div>
        <div class="row testi-padding-bottom">
	        <div class="col-md-4 testimonials-clean"  *ngFor="let r of allReviews;">
				 
	            <div class="de-angu3 border">
					<div class="review-gicon">
						
						<img *ngIf="r.designation == 'google' " src="../../assets/img/icon/google.png" />
						<img *ngIf="r.designation == 'facebook' " src="../../assets/img/icon/facebook.png" />
						<img *ngIf="r.designation == 'tripadvisor' " src="../../assets/img/icon/tripadvisor.png" />
						<img *ngIf="r.designation == 'trustpilot' " src="../../assets/img/icon/trustpilot.png" />
					</div>
					<h4 style="text-transform: capitalize;">{{r.posted_by}}</h4>
					<div class="box">
						<p>{{r.testinmonial_content}}</p>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="author item">
								<img  class="profile" src="../../assets/img/user.png" />
								<h6 class="place">{{r.source}} - {{r.destination}}</h6> 
								<h6>{{r.travel_date | date: 'dd MMM yyyy'}}</h6>
							</div>
						</div>

					</div>
	        	</div>
	    	</div>	 
        </div>
    </div>
</section>
