<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" 
type = "ball-clip-rotate" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<!-- Section Hero banner -->
<section class="hero-banner" style="background-image: url({{bannerImage}}); background-size: cover;"  >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="hero-banner-inner-text">
                    <!-- <h1 *ngIf="masterSettingRecord.common">{{master_info.operator_slogan}}</h1> -->
                    <!-- <h1>the most trusted & safest online bus booking platform</h1> -->
                    <h1 class="banner-text"> PLAN YOUR JOURNEY WITH <br/>THE MOST TRUSTED & SAFEST ONLINE BUS BOOKING PLATFORM</h1>
                </div>
            </div>

            <div class="col-md-12 top-ban">
            <form [formGroup]="searchForm" (ngSubmit)="submitForm()">
                <div class="hero-banner-inner-srchbus">
                    <div class="row no-gutters">                       
                        <div class="col-md-10">
                            <div class="row no-gutters">
                                <div class="col-md-4 pr-1">
                                    <label><b>From</b></label>
                                    <div class="input-group mb-3 d-block">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"><img src="assets/img/Icon-metro-location.svg"></span>                                        
                                            <input autocomplete="off" id="from" type="text" class="form-control pl-0"  
                                            [ngbTypeahead]="search" [resultTemplate]="rt" 
                                            [inputFormatter]="formatter" [ngModel]="swapsource" placeholder="Enter Source" 
                                            formControlName="source" (selectItem)="tabChange('to')"/>
                                            <ng-template #rt let-r="result" let-t="term">
                                                <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pr-1 to_dest_block">
                                    <label><b>To</b></label>
                                    <div class="swap-srch cursor">
                                       <img (click)="swap();"  src="assets/img/swap.svg">
                                    </div>
                                    <div class="input-group mb-3 d-block">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text pl-3 pr-3" id="basic-addon2"><img
                                                    src="assets/img/Icon-metro-location.svg"></span>

                                                    <input autocomplete="off" id="to" type="text" class="form-control pl-0"  [ngbTypeahead]="search" 
                                                    [resultTemplate]="rt2" [inputFormatter]="formatter" 
                                                    [ngModel]="swapdestination" formControlName="destination" 
                                                    placeholder="Enter Destination"
                                                    (selectItem)="tabChange('entryDate')"
                                                    />                                                  
                                                    <ng-template #rt2 let-r="result" let-t="term">
                                                        <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                                                    </ng-template>
                                        </div>                                       
                                    </div>
                                </div>
                                <div class="col-md-4 date_inp">
                                    <label><b>Date of Journey</b></label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text calendar" id="basic-addon3" (click)="d.toggle()" ><img src="assets/img/Icon-metro-calendar.svg"></span>
                                        </div>
                                        <input type="text" id="entryDate" autocomplete="off" readonly class="form-control calendar rounded-0 pl-0" formControlName="entry_date"  
                                        placeholder="Journey Date" aria-label="Journey Date" 
                                        aria-describedby="basic-addon3" ngbDatepicker (click)="d.toggle()" #d="ngbDatepicker">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label style="opacity: 0;"><b>Search</b></label>
                            <div class="bus_search">
                                <button type="submit"  class="btn">Search</button>
                            </div>
                        </div>                    
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</section>