<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" 
type = "ball-clip-rotate" [fullScreen] = "true"><p style="color: white" > {{loadingText}}  </p></ngx-spinner>

<ngx-spinner name="mySpinner" template= '<img src="../../assets/img/loader.gif" style="width:100px">' >
	<p style="color: white;font-weight: bold;font-size:20px;margin-top: 50%; margin-left: 28%;" > Order Processing </p>
		<p style="color: white;font-weight: bold;" >		
		    Please wait and do not press BACK Or REFRESH Button.<br>
			Please be patient while your transaction is being processed.....
		</p>
	</ngx-spinner>



<section class="search-result pt-40 pb-60">
    <div class="container">
        <div class="row">

<div class="col-md-12">

	<countdown #countdown [config]="{leftTime: Timer ,demand: true, format: 'mm:ss' }" (event)="handleEvent($event)" style="display: none;"></countdown>

<ng-wizard [config]="config" (stepChanged)="stepChanged($event)">

	
	
	<ng-wizard-step [title]="'Passenger Details'"  [canEnter]="isValidFunctionReturnsObservable.bind(this)" [canExit]="isValidFunctionReturnsBoolean.bind(this)">
	  <form [formGroup]="bookForm1" (ngSubmit)="submitForm1()">
	  <div class="row passenger pt-25">

		<div class="col-md-8">
			<div class="passenger-detail">
			<h5>Passenger Details</h5><hr>

			<div formGroupName="bookingInfo">			
			
			<div formArrayName="bookingDetail" 
			*ngFor="let item of passengerFormGroup.controls; let i = index;">
				
				<div class="row"  [formGroupName]="i">
					<div class="col-md-3">
						<label>Passenger {{i+1}}</label><br>						
						<ng-select                                                 
                        [items]="genderArr"
                        bindLabel="name"
                        bindValue="value"
                        placeholder="Select Gender"                                       
                        formControlName="passenger_gender"
                        [clearable]="false"
                        >
                        </ng-select>						
						<div *ngIf="submitted1 && getPassengerFormGroup(i).controls['passenger_gender'].hasError('required')" class="invalid-feedback">Gender is required</div>
						<div *ngIf="getPassengerFormGroup(i).controls['passenger_gender'].hasError('GenderError')" 
						class="invalid-feedback">{{ getPassengerFormGroup(i).controls['passenger_gender'].errors.message }}</div>
						
					</div>
					<div class="col-md-6">
						<label><span class="grey">Seat No:</span> {{ get_seatno(item.value.bus_seats_id) }}</label><br>
						<input type="text"  formControlName="passenger_name" class="form-control" placeholder="Full Name">			
					
						<div *ngIf="submitted1 && getPassengerFormGroup(i).controls['passenger_name'].hasError('required')" class="invalid-feedback">Name is required</div>
					</div>

					<div class="col-md-3">
						<label>&nbsp;</label><br>
						<input type="text"  (keydown)="onlyNumbers($event);" maxlength ="2"  class="form-control" 
						formControlName="passenger_age" class="form-control" placeholder="Age">	
						
						<div *ngIf="submitted1 && getPassengerFormGroup(i).controls['passenger_age'].errors?.required" class="invalid-feedback">Age is required</div>
						<div *ngIf="submitted1 &&  getPassengerFormGroup(i).controls['passenger_age'].errors?.pattern" class="invalid-feedback">Enter 2 Digit numbers</div>
						
					</div>
				
				</div>
			</div>
			</div>
		
			<div class="padding20">

			<h5>Contact Details</h5><hr>

			<div class="row" formGroupName="customerInfo">
				<div class="col-md-4">
					<label>Name</label><br>
					<input type="text"  class="form-control" [readonly]="isnameReadOnly" formControlName="name" placeholder="Enter Your Name" >	
				
					<div *ngIf="submitted1 && GetcustomerInfo.controls.name.errors" class="invalid-feedback">
						<div *ngIf="GetcustomerInfo.controls.name.errors.required">Name required</div>
					</div>			
				</div>

				

				<div class="col-md-4">
					<label>Mobile No.</label><br>
					<input type="text"  (keydown)="onlyNumbers($event);" maxlength ="10"
					  class="form-control" autocomplete="off" [readonly]="isphoneReadOnly" formControlName="phone" placeholder="Mobile Number" >
					
					<div *ngIf="submitted1 && GetcustomerInfo.controls.phone.errors" class="invalid-feedback">
						<div *ngIf="GetcustomerInfo.controls.phone.errors.required">Mobile no. is required</div>
						 <div *ngIf="GetcustomerInfo.controls.phone.errors.pattern">Please, Enter 10 digit Mobile Number</div>
						
					</div>		
				</div>

				<div class="col-md-4">
					<label>Email</label><br>
					<input type="text" class="form-control" [readonly]="ismailReadOnly" formControlName="email"  placeholder="Email" >
					<div *ngIf="submitted1 && GetcustomerInfo.controls.email.errors" class="invalid-feedback">
						<div *ngIf="GetcustomerInfo.controls.email.errors.required">Email ID is required</div>
						<div *ngIf="GetcustomerInfo.controls.email.errors.email">Email must be a valid email address</div>
						
					</div>	
				</div>
			</div>

			<div class="row padding" >
				<div class="col-md-12">
					<p class="paragraph"><span># </span> You will receive booking details in this mobile number and email address</p>
				</div>
			</div>

		</div>
	</div>
	</div>

		<div class="col-md-4">
			<div class="passenger-detail">	

			<div class="row"> 
				<div class="col-md-12">

					<h5>Bus Details:</h5><hr>
					<!-- <span class="font">Bus Name</span> -->
					<h5>{{ busRecord.busName }} ({{ busRecord.busNumber }})</h5>
					<h6>{{ busRecord.busType }} {{ busRecord.busTypeName }} {{ busRecord.sittingType}}</h6>
					<h6><b *ngIf="ub_seats!=''"> Sleeper No. :-  {{ ub_seats }}</b>
						<span *ngIf="lb_seats!='' && ub_seats!='' "> <br> </span>
						<b *ngIf="lb_seats!=''">Seat No. :-  {{ lb_seats }}</b>
						
					</h6>
				</div>
			</div>

			<div class="row"> 
				
			<div class="col-md-1">
				<img src="assets/img/Icon metro-location (1).svg" class="img1"><br>
				<img src="assets/img/Line 11.svg"  class="img2"> <br>
				<img src="assets/img/Icon metro-location (1).svg"  class="img3">
				</div>
				<div class="col-md-11">
					<span class="font">From</span>			
					<h5> {{ source }}</h5>
					<h6>{{ bookingdata.boardingPoint }} - {{ busRecord.departureTime}}</h6>

					<span class="font">To</span>
					<h5>{{ destination }}</h5>
					<h6>{{ bookingdata.droppingPoint }} - {{ busRecord.arrivalTime}}</h6>

</div>
</div>

					<h5>Fare Details:</h5><hr>


					<div class="row fare-detail">
					
					   <div class="col-md-8"><h6>Basic Fare</h6></div>
	   
					   <div class="col-md-4"><h6><strong>₹ {{ bookingdata.PriceArray.ownerFare }}</strong></h6></div>
	   
					 
					   <div class="col-md-8"><h6>Service Charges</h6></div>
	   
					   <div class="col-md-4"><h6><strong>+ ₹ {{ bookingdata.PriceArray.odbusServiceCharges }} </strong></h6></div>
	   
				   
					   <div class="col-md-8"><h6>Transaction Fee</h6></div>
	   
					   <div class="col-md-4"><h6><strong>+ ₹ {{ bookingdata.PriceArray.transactionFee }}</strong></h6></div>
	   
					
					   <!-- <div class="col-md-8"><h6>Discount</h6></div><div class="col-md-4"><h6>- ₹ {{ couponData.discount }}</h6></div> -->
	   
	   
					   <!-- <div class="col-md-12" style="display: none;"><img src="assets/img/Icon awesome-check.svg"><span> Coupon Applied</span></div> -->
	   
					   <div class="col-md-8"><h5>Total</h5></div>
	   
					   <div class="col-md-4"><h5>₹ {{ couponData.totalAmount }}</h5></div>

					   
					</div>
					<div class="padding">
						<div>
						<button type="submit" class="btn btn-warning proceed">PROCEED</button>
						</div>
				   
	   
				   </div>
	   
				   
				
			
			</div>
		</div>
      </div>
    </form>
</ng-wizard-step>
	
	
	<ng-wizard-step [title]="'Review Details'"  
	[canEnter]="isValidFunctionReturnsObservable.bind(this)"
	[canExit]="isValidFunctionReturnsBoolean.bind(this)">

	<form [formGroup]="bookForm2" (ngSubmit)="submitForm2()">

	<div class="row passenger pt-25" >
		<div class="col-md-12 ">
			<div class="passenger-detail">

			<h5>Journey Details</h5><hr>

			<div class="row">
				<div class="col-md-3">
					<h5><i class="fas fa-map-marker-alt icon-color"></i> {{ source }}</h5>
					<h6 class="padding-left">{{ bookingdata.boardingPoint }} - {{ busRecord.departureTime}}</h6>
									
				</div>

				<div class="col-md-3">
					<h5><i class="fas fa-map-marker-alt icon-color"></i> {{ destination }}</h5>
					<h6 class="padding-left">{{ bookingdata.droppingPoint }} - {{ busRecord.arrivalTime }}</h6>			
				</div>

				

				<div class="col-md-3">
								
					<h5><i class="fas fa-bus-alt icon-color"></i> {{ busRecord.busName }} </h5>
					<h6 class="padding-left">({{ busRecord.busNumber }})</h6>
									
				</div>
				<div class="col-md-3">
					<h5><i class="far fa-calendar-alt icon-color"></i> {{ entdate | date:'EEEE, d MMMM , y' }}</h5>
					<h6 class="padding-left">{{ passengerFormGroup.length }} Passenger(s)</h6>	
				</div>
			</div>
		  </div>
		</div>

		<div class="col-md-12">
			<div class="passenger-detail box-padding">
			<h5>Passenger Details</h5><hr>

			<div class="row">

				<div class="col-md-12">
				<table class="tableclass" cellpadding="12">
					<thead>
						<th>Passenger Name</th>
						<th class="pd2">Seats</th>
						<th class="pd2">Gender</th>
						<th class="pd2">Age</th>
					</thead>
					<tbody>
						<tr *ngFor="let dt of passengerData.bookingInfo.bookingDetail; let i = index;">
							<td align="left">{{ dt.passenger_name }}</td>
							<td align="center">{{ get_seatno(dt.bus_seats_id) }}</td>
							<td align="center">{{ dt.passenger_gender }}</td>
							<td align="center">{{ dt.passenger_age }}</td>
						</tr>

					</tbody>
				</table>

                <h5>Contact Details</h5><hr>
				<!-- <h4 style="color: #bbadad;font-size: 17px;"><hr>Contact Details</h4> -->

				<table class="tableclass2" cellpadding="10">
					
					
						<thead>
							<td><strong>Name</strong></td>
							<td><strong>Mobile Number</strong></td>
							<td><strong>Email Address</strong></td>
							<td>&nbsp;</td>
						</thead>
						<tbody>
						<tr>
							<td>{{ passengerData.customerInfo.name}}</td>
							<td>+91 {{ passengerData.customerInfo.phone}}</td>
							<td>{{ (passengerData.customerInfo.email) ? passengerData.customerInfo.email : 'N/A'}}</td>
							<td>&nbsp;</td>
						</tr>

					</tbody>
				</table>

				<p class="roboto"><img src="../../assets/img/Icon awesome-hashtag.svg"> will receive booking details in this mobile number & email address</p>

				</div>

				
				
			</div>

			<div class="padding">
				<form [formGroup]="couponForm" (ngSubmit)="ApplyCoupon()">
				<h5>Have a Coupon Code ?</h5><hr>				
				<div class="row padding" >
					
					<div class="col-md-6">
						<input type="text"  class="form-control" autocomplete="off" formControlName="coupon_code" placeholder="Enter Coupon Code">

						
					<!-- <div *ngIf="couponSubmitted && couponForm.controls.coupon_code.errors" class="invalid-feedback">
						<div *ngIf="couponForm.controls.coupon_code.errors.required">Coupon code is required</div>
						
					</div> -->

					</div>	
					<div class="col-md-2">
						<button [disabled]="!couponForm.valid" class="btn btn-warning" type="submit">APPLY</button>			
					</div>
					
			    </div>

			</form>
        </div>
		</div>

		</div>

		<div class="col-md-12">
			<div class="passenger-detail box-padding padding">
			<div class="row">
					   <div class="col-md-9 payable">
						<h6 class="cl-blue"><b>Payable Amount</b></h6>
						   <h5>₹ {{ couponData.payableAmount }} <span *ngIf="couponData.discount > 0" 
							   style="color: green;font-weight: bold;font-style: italic;">( ₹ {{couponData.discount}}/- OFF )</span></h5>

						   <label class="terms">
							<input formControlName="tnc" #tnc
							id="tnc" 
							type="checkbox" 
							[checked]="tncStatus" 
							(change)="tncStatusChange(tnc.checked)"> &nbsp;
							<a style="color:#daad23" target="_blank" routerLink="/privacy-policy">I agree that I have read 
								and understood the T&Cs and the Privacy Policy
						</a></label>
						   

						<div *ngIf="submitted2 && bookForm2.controls.tnc.errors" class="invalid-feedback">
							<div *ngIf="bookForm2.controls.tnc.errors.required">Agree the Terms & Conditions</div>
							<div *ngIf="bookForm2.controls.tnc.errors.checked">Agree the Terms & Conditions</div>
							
						</div>
					</div>
				
				<div class="col-md-3">
					<div class="payment_box">
						<!-- make-payment -->
						<input type="image" [disabled]="commissionError" name="submit" (click)="countdown.resume()" alt="Submit" style="cursor: pointer; width: 100%;" src="../../assets/img/makepayment.png">
                    </div>
				</div>				
			</div>
			</div>
		</div>
	</div>
   </form>

	</ng-wizard-step>		
   
	<ng-wizard-step [title]="'Print Ticket'" [id]="'print-section'">

	

		<div class="col-md-12 passenger-detail box-padding">

			<!-- <div class="col-md-12" style="text-align: center;">
				<img src="assets/img/odbus-logo.svg" alt="logo-ODBUS" title="Logo" />
			</div> -->

			<div class="print-ticket">
				<h5>Hello {{ passengerData.customerInfo.name }}</h5>
				<h6 class="print">Your Ticket is Confirmed. (PNR: {{ bookTicketResponse.pnr }}).</h6>
				<h6 class="print">ODBUS Wishing You A Happy Journey <img class="smile" src="../../assets/img/Icon awesome-smile-beam.svg"></h6>
				<h6 class="print-sm">We have sent booking details to your <b>{{ passengerData.customerInfo.phone}}</b>  <b *ngIf="passengerData.customerInfo.email"> & {{ passengerData.customerInfo.email}}</b> </h6>
		   </div>
		</div>

		<!-- <div class="row" style="margin-top:10px">
			<div class="col-md-12 print_btn" align="right" [id]="'print_btn'">
				<button (click)="print();" class="btn btn-warning" style="color: #072c6b;font-weight: bold;">PRINT TICKET</button>
			</div>
	   </div> -->

       
		<div class="passenger-detail box-padding">
			<div class="od-body mb25">
			   <div class="row mb40">
				   <div class="col-md-3"><img src="../../assets/img/email-logo.png" class="od-logo"/></div>
				   <div class="col-md-6 odtext32"><span>ODBUS</span> e-Ticketing Service<br/> Electronic Reservation Slip</div>
				   <div class="col-md-3">
					   <div class="od-bktext">Booking Date</div>
					   <div class="od-bktext">{{bookingDate | date:'EEEE, d MMMM , y' }}</div>
				   </div>
			   </div>
			   <div class="row  mt30 mb25">
				<div class="col-md-9 odtext24">
					<h3>JOURNEY DETAILS:</h3>
					<table class="table table-bordered">
						<thead>
						  <tr>
							<th scope="col">PNR No: {{ bookTicketResponse.pnr }}</th>
							<th scope="col">Bus Name/Number: {{ busRecord.busName }}-{{ busRecord.busNumber }}</th>
						   
						  </tr>
						</thead>
						<tbody>
						  <tr>
							<td>Journey Date: {{ entdate | date:'EEEE, d MMMM , y' }}</td>
							<td>Bus Route: {{ source }}-{{ destination }}</td>
						  </tr>
						  <tr>
							<td>Diparature Timing: {{ busRecord.departureTime}}</td>
							<td>Arrival Timing: {{ busRecord.arrivalTime }}</td>
						  </tr>
						  <tr>
							<td>From: {{ source }} ({{ bookingdata.boardingPoint }})</td>
							<td>To: {{ destination }} ({{ bookingdata.droppingPoint }})</td>
						  </tr>
						  <tr>
							<td>Boarding At :{{ source }} ({{ bookingdata.boardingPoint }})</td>
							<td>Droping At: {{ destination }} ({{ bookingdata.droppingPoint }})</td>
						  </tr>
						  <tr>
							<td>Passenger Mobile No: +91 {{ passengerData.customerInfo.phone}}</td>
							<td>Conductor Mobile No: {{busRecord.conductor_number}}</td>
						  </tr>
						  <tr>
							<td>Total Fare: Rs.{{ couponData.payableAmount }}/-</td>
							<td>Seat({{total_seat_name.length}})- {{total_seat_name}}</td>
						  </tr>
						  
						</tbody>
					  </table>
					
				</div>
				<div class="col-md-3"><img src="../../assets/img/qr-code.png" class="od-qrcode"/></div>
			</div>
	
			<div class="row mt30 mb25">
				<div class="col-md-12 odtext24">
					<h3>PASSENGER DETAILS:</h3>
					<table class="table table-bordered">
						<thead>
						  <tr>
							<th scope="col">Sl No.</th>
							<th scope="col">Name</th>
							<th scope="col">Age</th>
							<th scope="col">Sex</th>
							<th scope="col">Seat No</th>
						  </tr>
						</thead>
						<tbody>

						  <tr *ngFor="let dt of passengerData.bookingInfo.bookingDetail; let i = index;">
							<th scope="row">{{i+1}}</th>
							<td>{{ dt.passenger_name }}</td>
							<td>{{ dt.passenger_age }}</td>
							<td>{{ dt.passenger_gender }}</td>
							<td>{{ get_seatno(dt.bus_seats_id) }}</td>
						  </tr>
						
						</tbody>
					  </table>
				</div>
				
			</div>
	
			<div class="row mt30 mb25">
				<div class="col-md-12"><img src="../../assets/img/banner-01.png" class="od-banner"/></div>
			</div>
	
			<div class="row mt30">
				<div class="col-md-12 odtext24"><h3>TERMS & CONDITIONS</h3></div>
				<div class="col-md-12 ">
				  <div class="odbox1">
				  <div class="row ">
					<div class="col-md-6">
					  <ol>
	
					  <li>ODBUS is an Online Platform which provides online bus ticket booking services and does not operate bus services.</li>
	
					  <li>Arrival and departure times written on the ticket approximate time, to reach on the boarding points before 15 min.</li>
					  
					  <li>Passengers are required to take a copy of the ticket and an Identity proof  during their travel</li>
					  
					  <li>We are at ODBUS advice to all customers is to choose bus operators they are aware of and whose service they are comfortable with.</li>
					  
					  <li>In case the bus operator changes the type of bus due to some reason, ODBUS will refund the equest by the customers in 24 hours of the journey.</li>
					  
					  <li>The tickets booked through ODBUS Can be cancelled and note that Cancel Can be possible before 12 hours For More Details Please refer Cancelation Policy.</li>
					  
					  <li>If a booking confirmation e-mail and SMS get delayed or fails because of technical reasons www.odbus.in</li>
					  
					  <li>During booking, If an amount deducted and ticket not shown or SMS not delivered Please call to 9583918888.</li>
					  <li>The tickets booked through ODBUS Can be cancelled and note that Cancel Can be possible before 12 hours For More Details Please refer Cancelation Policy.</li>
					 </ol>
					</div>
					<div class="col-md-6 odtext24">
	
					  <ol>
	
						
						<li>We are at ODBUS advice to all customers is to choose bus  they are comfortable with.</li>
						
						<li>In case the bus operator changes the typ reason, ODBUS will refund in 24 hours of the journey.</li>
						
						<li>The tickets booked through ODBUS be possible before 12 hours.</li>
						
						
					   </ol>
	
					   <h3>CANCELATION POLICY</h3>
					   <table class="table table-bordered">
						<thead>
						  <tr>
							<th scope="col">Cancellation Cut Off Time</th>
							<th scope="col">Cancellation Return Amount</th>
						   
						  </tr>
						</thead>
						<tbody>
						  <tr>
							<td>4 Hours To 8 Hours</td>
							<td>25%</td>
						  </tr>
						  <tr>
							<td>8 Hours To 24 Hours</td>
							<td>35%</td>
						  </tr>
						  <tr>
							<td>24 Hours To 72 Hours</td>
							<td>80%</td>
						  </tr>
						  <tr>
							<td>More than 72 Hours</td>
							<td>90%</td>
						  </tr>
						  
						  <tr>
							<td colspan="2">
							  <ol>
								<li>All customers is to choose bus they are comfortable.</li>
								
								<li>Bus operator changes ODBUS wilustomers in 24 hours of the journey.</li>
								
								<li>The tickets booked through ODBUS  before 12 hours.</li>
								
							   </ol>
							</td>
							 
						  </tr>
						  
						</tbody>
					  </table>
					</div>
				  </div>
				</div>
				</div>
	
				<div class="col-md-12 mt30">
				  <div class="odbox2">
					<div class="row ">
					  <div class="col-md-12">
						<p>Contact Information</p>
						<p>ODBUS Helpline (07:00 AM To 11:00 PM):9583-918-888 (For Online Booking issue or Online Cancellation issue.) </p>
						<p>ODBUS Customer Support Email (Response time 3 working days): support@odbus.in</p>
					  </div>
					</div>
				  </div>
				</div>
	
				<div class="col-md-12 mt30">
				  <div class="odbox3">
					<div class="row ">
					  <div class="col-md-12">
						<p>Thankyou</p>
						<p>Team ODBUS</p>
					  </div>
					</div>
				  </div>
				</div>
				
			</div>
			</div>
		</div>
	
	
	
	</ng-wizard-step>

   
	
  </ng-wizard>
 


  </div>
  </div>
  </div>
  </section>
