
<div class="main min-500">
  
    <app-usernavbar></app-usernavbar>
  
    <div class="card card-ta mb-0 mt-2 night-fade-gradient">
      <div class="container">
        <div class="row banner-reward pt-1 pb-1">
          <div class="col-md-12 pl-1 pr-1">
            <div class="reward-heading">
              <p>Your Balance</p>
              <h1><font color="#FFCC01">1260</font> Points</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="card card-rewads">
        <div class="card-body card-rewads-main">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="py-3 booking-hi"><img src="assets/img/sidebar-icon/reward.svg">Rewards</h2>
                </div>
            </div>
            <div class="notification">
              <a href="#" class="reward-link d-flex justify-content-between align-items-center mb-3">
              <img src="assets/img/reward-left.svg">
              <h5 class="mr-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
              <span><img src="assets/img/code.svg"> ODBUS45</span>
              <small>03:50 pm</small>
              </a>
  
              <a href="#" class="reward-link d-flex justify-content-between align-items-center mb-3">
              <img src="assets/img/reward-left1.svg">
              <h5 class="mr-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
              <span><img src="assets/img/code.svg"> ODBUS45</span>
              <small>03:50 pm</small>
              </a>
  
              <a href="#" class="reward-link d-flex justify-content-between align-items-center mb-3">
              <img src="assets/img/reward-left.svg">
              <h5 class="mr-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
              <span><img src="assets/img/code.svg"> ODBUS45</span>
              <small>03:50 pm</small>
              </a>
  
              <a href="#" class="reward-link d-flex justify-content-between align-items-center mb-3">
              <img src="assets/img/reward-left1.svg">
              <h5 class="mr-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
              <span><img src="assets/img/code.svg"> ODBUS45</span>
              <small>03:50 pm</small>
              </a>
            </div>
        </div>
    </div>
    
  
    
  </div>
   